@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

h3,
h4 {
  text-align: center;
  margin: 0.5rem;
}
